.u-font {
	&-weight-light {
		font-weight: 300;
	}

	&-weight-regular {
		font-weight: 400;
	}

	&-weight-medium {
		font-weight: 500;
	}

	&-weight-semibold {
		font-weight: 600;
	}

	&-weight-extrabold {
		font-weight: 800;
	}

	&-italic {
		font-style: italic;
	}
}